<!-- templates/lab_6/partials/header.html -->
<nav class = "navbar navbar-deafult navbar-fixed-top">
  <div class="topnav" id="myTopnav">
    <a href="{% url 'lab-6:index' %}">Home</a>
  </div>
</nav>


