{% extends "lab_4/layout/base.html" %}

{% block content %}
<center>
    <h1 style="font-family:bebas neue;font-size:7">My Portofolio</h1></center>
<center>
    <img class="img-circle" src="https://cdn.pbrd.co/images/GM1B18q.jpg" alt="my photo" style="width:200px;height:200px;">
</center>

<hr/>
<section name="bio">
    <center><h2 style="font-family:capsuula">"An enthusiast learner who always seeks for challenges"</h2></center>
    <center><p>
        {{content}}
    </p></center>   
</section>
<hr/>
<section name="about_me">
    <h2 style="font-family:bebas neue">Experiences</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
	<h2 style="font-family:bebas neue">Send Me Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
</section>
<hr/>

{% endblock %}

