button{
  background-color: #3b5998;
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 30%;
}

.login{
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);  
}

.login:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
  background-color: #4dd2ff;
  color: black;
  width: 60%;
  padding: 3rem;
  text-align: left;
}

img {
  margin-top: 3rem;
}

.feed {
  background-color: white;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
}